@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.container {
  @include flex-center;
  min-height: 100vh;
  padding: $spacing-6;
  background-color: $bg-primary;
}

.content {
  text-align: center;
  max-width: 500px;
}

.code {
  font-size: 8rem;
  font-weight: $font-extrabold;
  background: linear-gradient(135deg, $interactive-primary, $color-accent-600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: $spacing-4;
  line-height: 1;

  @include max-md {
    font-size: 6rem;
  }
}

.title {
  @include heading-2;
  color: $fg-primary;
  margin-bottom: $spacing-3;
}

.message {
  @include body-large;
  color: $fg-secondary;
  margin-bottom: $spacing-8;
}

.button {
  @include button-primary;
  @include button-size($button-height-lg, $button-padding-x-lg, $text-base);
  text-decoration: none;

  &:hover {
    @include hover-lift;
  }
}
