@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.app {
  display: flex;
  min-height: 100vh;
  background-color: $bg-primary;
}

.main {
  flex: 1;
  min-height: 100vh;
  margin-left: 20rem; // Match new sidebar width (expanded)
  transition: margin-left $transition-base $ease-out;

  &.collapsed {
    margin-left: 5rem; // Match collapsed sidebar width
  }

  @include max-lg {
    margin-left: 0;
  }
}
