@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.container {
  padding: $spacing-8;
  max-width: $breakpoint-2xl;
  margin: 0 auto;

  h1 {
    @include heading-1;
    color: $fg-primary;
    margin-bottom: $spacing-6;
  }

  p {
    @include body-large;
    color: $fg-secondary;
  }
}
